<h1>Asynchronous Email Action</h1>
<form action="async" method="post" async>
  <label for="email">Email Address</label>
  <input name="email" type="text" />
  <label for="body">Body</label>
  <textarea name="body"></textarea>

  <button>Send email</button>
</form>